 <div class="row mt">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Войти</a></li>
        <li class="tab col s6"><a  href="#registration">Регистрация</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">
      {{#if loginError}}
        <p class="alert">{{loginError}}</p>
      {{/if}}
      <h3>Войти в магазин</h3>
      <form action="/auth/login" method="post">
          <div class="input-field">
              <input id="email" name="email" type="email" class="validate" required>
              <label class="active" for="email">Email</label>
              <span class="helper-text" data-error="Поле не должно быть пустым" data-success="Готово">Введите свой email</span>
          </div>
          <div class="input-field">
              <input id="password" name="password" type="password" class="validate" required>
              <label class="active" for="password">Пароль</label>
              <span class="helper-text" data-error="Поле не должно быть пустым" data-success="Готово">Введите пароль</span>
          </div>
          <input type="hidden" name="_csrf" value="{{ csrf }}">
          <button type="submit" class="btn btn-primary">Войти</button>
      </form>
    </div>
    <div id="registration" class="col s6 offset-s3">
      {{#if registrationError}}
        <p class="alert">{{registrationError}}</p>
      {{/if}}
      <h3>Создать аккаунт</h3>
      <form action="/auth/registration" method="post">
          <div class="input-field">
              <input id="name" name="name" type="text" class="validate" required>
              <label class="active" for="name">Ваше имя</label>
              <span class="helper-text" data-error="Поле не должно быть пустым" data-success="Готово">Введите своё имя</span>
          </div>
          <div class="input-field">
              <input id="remail" name="email" type="email" class="validate" required>
              <label class="active" for="remail">Email</label>
              <span class="helper-text" data-error="Поле не должно быть пустым" data-success="Готово">Введите свой email</span>
          </div>
          <div class="input-field">
              <input id="rpassword" name="password" type="password" class="validate" required>
              <label class="active" for="rpassword">Пароль</label>
              <span class="helper-text" data-error="Поле не должно быть пустым" data-success="Готово">Введите пароль</span>
          </div>
          <div class="input-field">
              <input id="confirm" name="confirm" type="password" class="validate" required>
              <label class="active" for="confirm">Повторите пароль</label>
              <span class="helper-text" data-error="Поле не должно быть пустым" data-success="Готово">Повторите пароль</span>
          </div>
          <input type="hidden" name="_csrf" value="{{ csrf }}">
          <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
      </form>
    </div>
</div> 