<h1>Добавить курс</h1>
<a href="/">Домой</a>
<form action="/add" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label class="active" for="title">Название курса</label>
        <span class="helper-text" data-error="Поле не должно быть пустым" data-success="Готово">Введите название</span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required>
        <label class="active" for="price">Цена курса</label>
        <span class="helper-text" data-error="Поле не должно быть пустым" data-success="Готово"></span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label class="active" for="img">URL изображения</label>
        <span class="helper-text" data-error="Поле не должно быть пустым" data-success="Готово"></span>
    </div>
    <button type="submit" class="btn btn-primary">Добавить курс</button>
</form>